.tile_list {
    overflow: hidden;
    border-bottom: 1px solid #333;
    background-color: gray
}

.tile_list>.tile {
    float: left;
    width: 20vw;
    height: 20vw;
    text-align: center;
    transition: 0.2s
}

.tile_list>.tile.on {
    background-color: black;
}

.tile_list>.tile:nth-child(5n+1)>.inner {
    border-left: 1px solid #333;
}

.tile_list>.tile>.inner {
    border: 1px solid #333;
    border-width: 1px 1px 0 0;
    line-height: 20vw;
    box-sizing: border-box;
    cursor: pointer;
}

div {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}